<div class="row align-items-center justify-content-center">
  <div class='col-sm-12 col-lg-5'>
    <h1 class='text-center font-weight-light display-4' style="color:#0A66FF">Speckle,</h1>
    <p class='font-weight-lighter text-center'><small>the open source data platform for aec.</small></p>
  </div>
  <div class='col-sm-12 col-lg-5 py-4'>
    <h2 class='font-weight-light'>Welcome {{user.name}}!</h2>
    <p>You have signed in.</p>
    <hr>
    <a class='' href="https://speckle.works/docs/start">Getting Started Guide</a>
    {{!-- <a href="https://speckle.works/docs/start"></a> --}}
    <hr>
    <p>
      {{#if redirectUrl}}
      You will be redirected to <code>{{redirectUrl}}</code> in 1 second. If that doesn't happen, you can probably close this browser window afterwards.
      {{else}}
      No redirect url present.
      {{/if}}
    {{!-- <small>Speckle was not instructed to redirect you to any application, so below is a connection string you can use to add this account to your clients.</small> --}}
    </p>
    <a class="btn btn-sm btn-light" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
        show connection string
    </a>
    <div class="collapse mt-4" id="collapseExample">
    <div class="">
       <small><code id='connectionString' style="user-select:all">{{connectionString}}</code></small>
    </div>
    </div>
  </div>
</div>

<script>
  function redirect() {
    var redirectUrl = '{{redirectUrl}}'

    try {
      var xmlHttp = new XMLHttpRequest()
      xmlHttp.open( 'GET', "{{redirectUrl}}?token={{connectionString}}", true)
      xmlHttp.send( null )
    } catch( err ) {
      console.log( err.message )
    }

    if( redirectUrl && redirectUrl !== '') {
      if( window.opener ) {
        window.opener.location.href = "{{redirectUrl}}?token={{connectionString}}"
        self.close()
      } else {
      	window.close()
      }
    } else
      console.log("no redirect url. ")
    }

  window.onload = function() {
    setTimeout( redirect, 1000 )
  }
</script>
